/* Common */
body {
    background: url('/img/bg.png');
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: small;
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
    color: #0085cc;
}
p {
    margin: 1em 0;
}
a {
    color: #0085cc;
    text-decoration: none;
}
a:hover {
    color: #2ca7e8;
    text-decoration: underline;
}
a:visited {
    color: #007bc7;
}
a:visited:hover {
    color: #2ca7e8;
}

/* Home */
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}
.posts li {
    line-height: 1.75em;
}
.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/* Site */
.content {
    text-align: justify;
    max-width: 80em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0em auto 0em;
    line-height: 1.5em;
}
.header {
    padding-top: 2em;
    background-color: white;
    padding-bottom: 2em;
    box-shadow: 0px 8px 16px #b1d1e2;
}
.box {
    margin-left: 30%;
    margin-right: 30%;
    min-width: 11em;
    text-align: right;
    border: 1px solid grey;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}
.box img {
    margin: 12px;
    border: solid 2px;
    border-color: grey;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.box a {
    font-weight: bold;
    text-decoration: none;
}
.box-title {
    float: left;
    text-align: left;
    padding-left: 1em;
}
.title {
    margin-bottom: 0.2em;
}
.title a {
    color: #0085cc;
}
.title a:hover {
    color: #2ca7e8;
}
.subtitle {
    color: grey;
}
.menu {
    text-align: center;
    min-width: 11em;
    margin-top: 1px;
}
a.extra {
    text-decoration: none;
    padding: 2px 4px 4px 4px;
    background: transparent;
    background-size: auto 200%;
    background-position: 0 100%;
    -moz-transition: background-position 0.5s ease 0.1s;
    -webkit-transition: background-position 0.5s ease 0.1s;
    transition: background-position 0.5s ease 0.1s;
    border: 1px solid grey;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
a.extra:hover {
    color: #fff;
    background-image: -moz-linear-gradient(#2ca7e8, transparent);
    background-image: -webkit-linear-gradient(#2ca7e8, transparent);
    background-image: linear-gradient(#2ca7e8, transparent);
    background-position: 0 0;
}
.meta {
    color: #444;
}
.footer {
    max-width: 76em;
    margin: 0em auto 0em;
    border-top : 1px solid grey;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.contact {
    float: right;
    padding-right: 1em;
    padding-bottom: 1em;
}
code {
    border: 1px solid grey;
}
pre code {
    border: none;
}
.pagination {
    width: 100%;
    text-align: center;
}
