---
layout: default
title: Home
---

<section class="home">
	<header><h2>Home</h2></header>
	<article id="about-me">
	<header><h3>About me</h3></header>
	<p>I am currently employed by <a href="http://www.a2ia.com/">Mitek Systems Paris (ex-A2iA)</a> as a R&amp;D engineer.</p>

	<div class="logos">
		<a href="http://www.a2ia.com/"><img src="img/a2ia.png" alt="A2iA logo"/></a>
	</div>
	<iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d41998.48687598671!2d2.3206683474517145!3d48.86001371884225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3ffb63eb6aae0286!2sA2iA!5e0!3m2!1sfr!2sfr!4v1462697050347" display="block" frameborder="0" style="border:0"></iframe>

	Through my academic training and my first experiences, I specialized in machine learning and image processing. My favorite area of application is the automatic processing of documents, including classification, layout analysis and text recognition (OCR, ICR). I also have good skills in statistical language modeling.
	<br />
	<br />
	I have also been actively involved in the development of structural pattern recognition methods, including working on graph edit distance and error-tolerant subgraph matching algorithms.
	<br />
	<br />
	You may want to visit my profiles on :
	<ul class="no-bullets profiles">
		<li><img class="favicon" src="https://www.linkedin.com/favicon.ico" alt="LinkedIn logo"> <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a></li>
		<li><img class="favicon" src="https://github.com/favicon.ico" alt="GitHub logo"> <a href="https://github.com/{{ site.author.github }}">GitHub</a></li>
		<li><img class="favicon" src="https://scholar.google.com/favicon.ico" alt="Google Scholar logo"/> <a href="https://scholar.google.fr/citations?user={{ site.author.scholar }}">Google Scholar</a></li>
		<li><img class="favicon" src="https://www.researchgate.net/favicon.ico" alt="ResearchGate logo"/> <a href="https://www.researchgate.net/profile/{{ site.author.researchgate }}">ResearchGate</abbr></a></li>
	</ul>
	</p>
	</article>

	<article id="recent">
	<header><h3>Recent publications</h3></header>
	<ul class="posts no-bullets">
		{% for post in site.posts offset:0 limit:5 %}
		<li><i class="fa fa-{{ post.category }} fa-fw"></i> <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	</article>
	<div class="widgets">
		{% include tag-cloud.html %}
	</div>
</section>
<aside>
	<a width="300px" display="block" class="twitter-timeline" href="https://twitter.com/julien_lerouge" data-widget-id="607546942650875905">Tweets de @julien_lerouge</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>
