<div class="header">
    <div class="box">
        <img src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=80" alt="{{ site.author.display_name }}" width="80" height="80"/>
        <div class="box-title">
            <h1 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
            <div class="subtitle">{{ site.author.activity }}<br />{{ site.author.slogan }}</div>
        </div>
    </div>
    <input type="checkbox" id="nav"/>
    <label id="bars" for="nav"><i class="fa fa-bars fa-2x"></i></label>
    <div class="menu" id="trolo">
        <a class="item" href="/">Home</a>
        <a class="item" href="/blog">News</a>
        <a class="item" href="/soft">Software</a>
        <a class="item" href="/pub">Publications</a>
        <a class="item" href="/email">Contact</a>
    </div>
</div>
