<header>
    <div class="box">
        <img class="avatar" src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=192" alt="{{ site.author.display_name }}"/>
        <div class="box-title">
            <h1 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
            <div class="subtitle">
                <div class="job">{{ site.author.job }}</div>
                <div class="activity">{{ site.author.activity }}</div>
            </div>
        </div>
    </div>
    <input type="checkbox" id="togglenav"/>
    <label class="bars" for="togglenav"></label>
    <nav>
        <a class="item" href="/">Home</a>
        <!--<a class="item" href="/blog">Blog</a>-->
        <a class="item" href="/pdf/CV_en.pdf" title="Curriculum Vitae in English">CV <img src="/img/flag_en.jpg" alt="en"></a>
        <a class="item" href="/pdf/CV_fr.pdf" title="Curriculum Vitae in French">CV <img src="/img/flag_fr.jpg" alt="fr"></a>
        <!--<a class="item" href="/soft">Software</a>-->
        <a class="item" href="/pub">Publications</a>
        <a class="item" href="mailto:julien@lerouge.me">Contact</a>
    </nav>
</header>
