<div class="header">
    <div class="box">
        <div class="box-title">
            <h2 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
            <div class="subtitle">Pattern Recognition R&amp;D engineer<br />C++ and Python enthusiast</div>
        </div>
        <img src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=120" alt="{{ site.author.display_name }}" width="100" height="100"/>
    </div>
    <div class="menu">
        <a class="extra" href="/">home</a>
        <a class="extra" href="/blog">blog</a>
        <a class="extra" href="/soft">software</a>
        <a class="extra" href="/pub">publications</a>
        <a class="extra" href="/email">contact</a>
    </div>
</div>