---
layout:     default
comments:   true
---
<section class="blog">
  <header><h2>Blog</h2></header>
  <article>
    <header><h3>{{ page.title }}</h3></header>

    <div class="post">
    {% assign id = page.id | split: "/" | last %}
    <img class="front" src="/img/{{ id }}.png" onError="style.display = 'none';"/>
    {{ content }}
    </div>

    <footer>
        Posted <span class="meta" id="date">{{ page.date | date: "%A, %B %-d, %Y" }}</span> in <span class="meta" id="category"><a href="/category/#{{ page.category }}"><i class="fa fa-{{ page.category }} fa-lg"></i> {{ page.category  | capitalize }}</a></span>
        <p class="meta" id="tags">Tags:
            {% for tag in page.tags %}
            <a href="/tags/#{{ tag | split : " " | first }}">{{ tag }}</a>
            {% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }}" data-via="{{ site.author.twitter }}">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </footer>
  </article>

  {% if page.comments %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//jlerouge.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the comments powered by <a href="http://disqus.com/?ref_noscript">Disqus.</a></noscript>
  {% endif %}
</section>
